body {

  background-color: #161616
}



.block {

  background-color: rgba(255, 255, 255, 0.5);

  padding: 20px;

  flex-direction: column;

}
.container{
  display: flex;
  justify-content: space-around;
 
}
img{
  width: 500px;
}
.cartIcon{
  width: 70px;
}
.containerDish{
  display: flex;
  justify-content: center;
}
.categoryButton:hover {

  background-color: #fdeb6b;
cursor: pointer;
}

.categoryButtonSelected {
  background-color: green;
  cursor: pointer;
  padding: 10px;
  margin: 5px;

}
.cartItem{
  display: flex;
  justify-content: center;
}
.changequantity{
  display: flex;
  justify-content: center;
}
.buttoncontainer{
  display: flex;
  justify-content: center;
  
}
button{
  height: min-content;
}
span{
  margin-left: 5px;
  margin-right: 5px;
}
.addbutton{
  margin: 5px;
}
.cartItemList{
  display: flex;
  align-items: center;
}